<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="無人機隊車輛精準定位結果畫面">
        <meta name="author" content="Willy">
        <meta name="keywords" content="無人機, 車輛定位">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>無人機隊車輛精準定位</title>
        <link rel="stylesheet" href="../static/style.css"/> 
    
    </head>
    <body>
        <div style="background-color: rgb(186, 186, 186); height: 50px; border-radius: 5px;">
            <h1>無人機隊車輛精準定位</h1>
        </div>
        <div style="float: left;">
            
            <div style="background-color: azure; border-radius: 5px; width: 500px;">
                <h2>目前定位到的車輛數量&類別</h2>
                <table>
                    <tr>總數量：</tr>
                    <tr>
                        <td>汽車：</td>
                        <td>公車：</td>
                        <td>卡車：</td>
                        <td>機車：</td>
                    </tr>
                </table>
            </div>
            
            <div style="background-color: blanchedalmond; height: 300px; border-radius: 5px;">
                <h2>觀察車輛資訊</h2>
                <table>
                    <tr>
                        <td>車輛類別：</td>
                        <td>GPS位置：</td>
                    </tr>
                    <tr>
                        <td>俯視照片：</td>
                    </tr>
                </table>
            </div>
            
            <div style="background-color: rgb(229, 217, 246); height: 100px; border-radius: 5px;">
                <h2>更新資訊</h2>
            </div>

        </div>
        <div style="position: relative; border: 1px solid black; float: right; width: 750px; height: 550px;">
            <h2>無人機路線</h2>
            
            <div style="position: absolute; bottom: 0px; right: 0px; padding: 10px; margin: 10px; background-color: rgba(128, 128, 128, 0.586); border: 1px solid black; border-radius: 5px;">
                <h3>圖示</h3>
                <span>汽車</span>
                <span>公車</span>
                <span>卡車</span>
            </div>
        </div>
    </body>
</html>