<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="無人機隊車輛精準定位結果畫面">
        <meta name="author" content="Brian,Willy">
        <meta name="keywords" content="無人機, 車輛定位">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>無人機結合車輛精準定位</title>
        <link rel="stylesheet" href="../static/style.css"/> 
    
    </head>
    <body>
        <div class = "first_title">
            <h1>無人機結合車輛精準定位</h1>
            <a href = "proposal_history.html">企劃書構想與書寫過程</a>
            <a href = "project_members.html">參與企劃成員</a>
        </div>

        <div style="float: left">            
            <div id = "car_count">
                <h2>目前定位到的車輛數量及類別</h2>
                <table>
                    <tr>
                        總數量： 
                        <input type = "text" width: >
                    </tr>
                    <tr>
                        <td>
                            汽車： 
                            <input type = "text">
                        </td>
                        <td>      
                            公車： 
                            <input type = "text">
                        </td>
                        <td>
                            卡車：
                            <input type = "text">     
                        </td>
                        <td>
                            機車：
                            <input type = "text">                             
                        </td>
                    </tr>
                </table>
            </div>
        
            <div id = "car_information">
                <h2>觀察車輛資訊</h2>
                <ul>
                    <li>                        
                        車輛類別：
                        <input type = "text">
                    </li>
                    <li>
                        <table>
                            <tr>
                                GPS位置：                            
                                <td>
                                    經度：
                                    <input type = "text">
                                </td>
                                <td>
                                    緯度：
                                    <input type = "text">                               
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>車輛圖片</li>                   
                </ul>               
            </div>
        </div>
        <div id = "Drone_route">
            <h2>無人機路線</h2>            
            <div class= "map_information">
                <h3>圖示</h3>
                <span>汽車</span>
                <span>公車</span>
                <span>卡車</span>
            </div>
        </div>
    </body>
</html>