<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="無人機對車輛精準定位結果畫面">
        <meta name="author" content="Brian, Willy">
        <meta name="keywords" content="無人機, 車輛定位">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>無人機結合車輛精準定位</title>
        <link rel="stylesheet" href="../static/css/style.css"/> 
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
        
        <script type="module" src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
        <script type="module" src="../static/js/osm.js"></script>
        <!-- <script type="module" src="../static/js/counter.js"></script> -->
        <script type="module" src="../static/js/pullRequest.js"></script>
        <script type="module" src="../static/js/putIcon.js"></script>
    </head>
    <body>
        <div class="first_title">
            <h1>無人機對車輛精準定位</h1>
            <a href="proposal_history.html">企劃書構想與書寫過程</a>
            <a href="project_members.html">研究成員介紹</a>
        </div>
        
        <div style="float: left">
            <div id="car_count">
                <h2>目前定位到的車輛數量及類別</h2>
                <table>
                    <tr>
                        總數量： 
                        <input type="text" id="total_count" value="0" readonly>
                    </tr>
                    <tr>
                        <td>
                            汽車： 
                            <input type="text" id="car_count_input" value="0" readonly>
                        </td>
                        
                        <td>      
                            計程車： 
                            <input type="text" id="taxi_count_input" value="0" readonly>
                        </td>

                        <td>
                            機車：
                            <input type="text" id="scooter_count_input" value="0" readonly>
                        </td>
                    </tr>
                </table>
            </div>
            
            <div id="car_information">
                <h2>觀察車輛資訊</h2>
                <ul>
                    <li>
                        車輛類別：
                        <input type="text" id="target_type" value="" readonly>
                    </li>
                    <li>
                        <table>
                            <tr>
                                GPS位置：
                                <td>
                                    經度：
                                    <input type="text" id="target_lng" value="" readonly>
                                </td>
                                <td>
                                    緯度：
                                    <input type="text" id="target_lat" value="" readonly>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>車輛圖片</li>                    
                </ul>
                <img src="../static/img/Photo_of_project.jpg" height=280vh alt="Thumbnail of Target" id="target_img">
            </div>
            <div id="popup" class="popup">
                <span id="close_popup">&times;</span>
                <img src="../static/img/Photo_of_project.jpg" alt="High Resolution" id="popup_img">
            </div>
        </div>
        <div id="Drone_route">
            <h2>無人機路線</h2>
              
            <!-- 添加一個用於顯示地圖的div -->
            <div id="map" style="height: 400px; position: relative"></div>          
            <div class="map_information">                
                <h3>圖示</h3>
                <img src="../static/img/car_icon.png" alt="汽車圖示" title="汽車" width=40;>                
                <span>汽車</span>                
                <img src="../static/img/taxi_icon.png" alt="計程車圖示" title="計程車" width=40;>                
                <span>計程車</span>                
                <img src="../static/img/scooter_icon.png" alt="機車圖示" title="機車" width=40;>
                <span>機車</span>
            </div>
            
            <!-- 輸入標記於地圖上 -->
            <label for="title">請輸入GPS座標：</label>
            <input type="text" id="input_lat" placeholder="Latitude" value="">
            <input type="text" id="input_lng" placeholder="Longitude" value="">
            <div>
                <input type="radio" id="car" name="vehicle-type" value="car" checked>
                <label for="car">Car</label>
                <input type="radio" id="taxi" name="vehicle-type" value="taxi">
                <label for="taxi">Taxi</label>                
                <input type="radio" id="scooter" name="vehicle-type" value="scooter">
                <label for="scooter">Scooter</label>
            </div>
            <button id="put-markers">Submit</button>
        </div>
    </body>
</html>
