p, li, label{
    color:black;
    font-size: 2vmin;
}

body{
    background-color: #e9e8e8;
    margin: 1vh 1vw;
}

h2{
    margin: 1vh;
    padding: 1vh;
}

.first_title{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 71);
    border-radius: 5px; 
    height: 8vh;
    color:white;
}

.first_title h1{       
    padding-left: 10px;
    flex-shrink: 0; /*收縮比例*/
}

.first_title a{
    float: right;
    margin-left: 350px;
    text-decoration: none;  /*此行程式碼代表除連結下方預設畫線*/
    color: white;
}

.container{
    display: flex;
    justify-content: space-between;
}

.right_side{
    margin-left: 1vw;
    }

.vehicle_amount{
    background-color:white; 
    border-radius: 5px;
    width: 47vw;
    height: 38vh;
}

.vehicle_amount table{
    position: relative;
    border-collapse: separate;
    top: 8%;
    width: 100%;
}

.amount{
    font-size: xx-large;
    margin: 1vh;
}

.vehicle_amount th,td{
    vertical-align: middle;
    text-align: center;
}

.remark{
    margin: 4%;
}

#target_info{
    background-color: white; 
    height: 50vh;
    border-radius: 5px;
    width: 47vw;
    justify-content: center;
}

.target_doc{
    display: flex;
    align-items: center;
}

.figure{
    margin-left: 1vw;
    text-align: center;
}

.figure img{
    height: 36vh;
}

.figure p{
    margin: 5px;
}

li{
    padding: 10px;
    margin: auto;
}

/* 設置懸浮視窗的樣式 */
.popup {
    display: none; /* 初始狀態為隱藏 */
    position: fixed;
    z-index: 2000; /* 確保它出現在最前方 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* 半透明背景 */
}

/* 設置懸浮視窗内部圖片的樣式 */
.popup img {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 關閉按鈕的樣式 */
#close_popup {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.detect_area{
    height: 89vh;
    position: relative;
    background-color: white;
    border-radius: 5px;
    width: 50vw;
}

#map{
    position: relative;
    height: 69vh;
}

.maunally_input{
    position: absolute;
    bottom: 8%;
    left: 1%;
}

input[type="text"]{
    width: 10vw;
    height: 3vh;
    border-radius: 5px;
    border: 1px solid rgb(160 160 160);
}

.pin_option{
    position: absolute;
    overflow: hidden;
}

#car_icon{
    margin-bottom: -3%;
}

#scooter_icon{
    margin-bottom: -1%;
}

button{
    position: relative;
    bottom: 1vh;
    border-radius: 5px;
    border: 1px solid rgb(160 160 160);
}
