p{
    color:black;
}

body{
    background-color: #e9e8e8;
}
.first_title{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 71);
    border-radius: 5px; 
    height: 50px;
    color:white;
}

.first_title h1{       
    padding-left: 10px;
    flex-shrink: 0; /*收縮比例*/
}

.first_title a{
    float: right;
    margin-left: 350px;
    text-decoration: none;  /*此行程式碼代表除連結下方預設畫線*/
    color: white;
}

.container{
    display: flex;
    justify-content: space-between;
}

.left_side{
    flex: 10;
}
.middle{
    flex: 1;
}
.right_side{
    flex: 10;
}

.vehicle_amount{
    background-color:white; 
    border-radius: 5px;
    width: 47vw;    /*50vw代表50%的視窗寬度(高度)*/
}

.vehicle_amount table{
    width: 100%;
    border-collapse: collapse;  /*設置表格寬度和邊框合併樣式*/
}
.amount{
    font-size: x-large;
    height: 0vh;
}
/* .vehicle_amount p{
} */

.vehicle_amount th,td{
    vertical-align: middle;
    border: 1px solid rgb(160 160 160);
    text-align: center;
}

#target_info{
    background-color: white; 
    height: 58.5vh;
    border-radius: 5px;
    width: 47vw;
    justify-content: center;
}

.target_doc{
    display: flex;
    align-items: center;
}

.figure{
    margin-left: 1vw;
    text-align: center;
}

.figure img{
    height: 25vw;
}

li{
    padding: 10px;
}

/* 設置懸浮視窗的樣式 */
.popup {
    display: none; /* 初始狀態為隱藏 */
    position: fixed;
    z-index: 2000; /* 確保它出現在最前方 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* 半透明背景 */
}

/* 設置懸浮視窗内部圖片的樣式 */
.popup img {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 關閉按鈕的樣式 */
#close_popup {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.detect_area{
    /* height: 43vw; TODO注意高度*/
    background-color: white;
    border-radius: 5px;
    width: 50vw;
}

#map{
    position: relative;
    height: 69vh;
}

input[type="text"]{
    width: 10vw;
    height: 3vh;
    border-radius: 5px;
    border: 1px solid rgb(160 160 160);
}

button{
    position: relative;
    bottom: 1vh;
    border-radius: 5px;
    border: 1px solid rgb(160 160 160);
}
